.my-card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #333;
  padding: 20px;
  margin: 10px;
}

.give-height {
  height: 100vh;
}

.btn-ctrl {
  width: 100%;
}

.left-border {
  border-left: 2px solid black;
}

.ans-ctrl {
  border-radius: 7px;
}
